
<section>
    <div class="content">
            <div class=" info">
                <h2>Cool Dog Stickers </h2>
                <p>Es un proyecto para la Universidad Creativa De Costa Rica,
                su funcionalidad se basa principalmente en la creacion de servicios
                para la recepcion y visualizacion de datos desde los servidores de Giphy.
                Muestra de una manera predeterminada los Gifs y Stickers en tendencia, ademas
                de contar con barra de busqueda para accesar a otros contenidos.
                </p>
                
            </div>
        </div>
</section>
