.form-control-borderless {
    border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

.search{
    max-width: 400px;
    margin: 30px auto;
    text-align: center;
    font-size: 18px;
    color: #fe0000;

}

.search input{
    width: 100%;
    padding: 8px 16px;
    margin-top: 20px;
}